body{
	font-family: monserrat;
}
.navbar .nav-item .nav-link{
	color: white;	
}
.menu {
	border: 29px;
    border-bottom-color: white;
}
header{
	position: relative;
	background: url(../img/bg.png);
	background-size: cover;
	background-repeat: round;
}
.navbar .nav-item .nav-link:hover{
	color: white;
}
ul#menu li a{
	position: relative;
}
ul#menu li a:after{
	position: absolute;
    bottom: 7px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color:rgb(26, 188, 156);
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(20px);
}
ul#menu li a:hover:after{
    opacity:1;
    transform: translateY(15px);
}
#show{
	height: 15px;
	width: 100%;
}
#menunav{
	background-color: rgba(0,0,0,0.4);
}
#home img{
	max-height: 100%;
}
#home .butnhome .or{
	border-radius: 50%;
	background-color: white;
}
#home .butnhome .pur{
	background-color: rgb(26, 188, 156);
	width: 170px;
}
#home .butnhome .ler{
	width: 170px;
}
#service img{
	max-height: 100px;
}
#about img{
	max-width: 100%;
}
#feature{
	background: url(../img/base.png);
	background-size: cover;
	background-repeat: no-repeat;
}
#feature .table{
	width: 50vw;
}
#feature .arrow-le,.arrow-ri{
	width: 4vw;
}
#price img{
	max-width: 100px;
}
#contact {
	background: url(../img/base2.png);
}
ul.address {
  margin-top: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.contact-info ul li a{
	color:#fff;
}
.form-group button{
	width: 150px;
}
.form-group .rese{
	background-color: rgb(26, 188, 156);
}
.form-group input{
	background: rgb(93, 109, 126);
	box-sizing: border-box;
	border: none;
}
textarea.form-control{
	background: rgb(93, 109, 126);
	box-sizing: border-box;
	border: none;
}
textarea.form-control::placeholder{
	color:white;
}
input.form-control::placeholder{
	color:white;
}





			.offcanvas-collapse {
			    position: fixed;
			    top: 56px;
			    bottom: 0;
			    right: 100%;
			    left: -300px;
			    width: 300px;
			    padding-right: 1rem;
			    padding-left: 1rem;
			    overflow-y: auto;
			    visibility: hidden;
			    background-color: /*#343a40*//*#f8f9fa*/#155592;
			    transition-timing-function: ease-in-out;
			    transition-duration: .3s;
			    transition-property: left, visibility;
			}

			.offcanvas-collapse {
			    align-items: start;
			    -moz-background-clip: padding;
			    -webkit-background-clip: padding;
			    background-clip: padding-box;
			    border-right: 5px solid rgba(0, 0, 0, 0.2);

			}

			.offcanvas-collapse.open {
			    left: 0;
			    visibility: visible;
			}

			.navbar-expand-lg .navbar-nav {
			    -ms-flex-direction: column;
			    flex-direction: column;
			}

			.nav-scroller {
			    position: relative;
			    z-index: 2;
			    height: 2.75rem;
			    overflow-y: hidden;
			}
			.nav-scroller .nav {
			    display: -ms-flexbox;
			    display: flex;
			    -ms-flex-wrap: nowrap;
			    flex-wrap: nowrap;
			    padding-bottom: 1rem;
			    margin-top: -1px;
			    overflow-x: auto;
			    color: rgba(255, 255, 255, .75);
			    text-align: center;
			    white-space: nowrap;
			    -webkit-overflow-scrolling: touch;
			}

			.nav-underline .nav-link {
			    padding-top: .75rem;
			    padding-bottom: .75rem;
			    font-size: .875rem;
			    color: #6c757d;
			}

			.nav-underline .nav-link:hover {
			    color: #007bff;
			}

			.nav-underline .active {
			    font-weight: 500;
			    color: #343a40;
			}